@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: theme("colors.text");
  background-color: theme("colors.bg.100");
}

@layer components {
  .box {
    @apply shadow-md rounded-lg bg-bg-50;
  }

  .content {
    @apply max-w-7xl mx-auto px-8 lg:px-12;
  }
}

@layer base {
  body {
    @apply overflow-x-hidden;
  }

  h1 {
    @apply text-6xl;
  }

  h2 {
    @apply text-5xl;
  }

  h3 {
    @apply text-4xl;
  }

  h4 {
    @apply text-3xl;
  }

  h5 {
    @apply text-xl;
  }

  h6 {
    @apply text-base;
  }
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
